:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 17.4px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  cursor: default;
}

.logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--title-text-color);
  cursor: default;
}

ul,
h1 {
  list-style: none;
  margin: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Main nav */

.container .main-nav {
  display: flex;
  align-items: center;
}

.main-nav .logo h1 {
  margin: 0;
}

/* Site nav */
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* Auth nav */

.auth-nav {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}

.auth-nav .item {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
}

.auth-nav .item a {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background: #2f303a;
  text-align: center;
  margin-bottom: 0;
}

.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}

.hero .button.primary {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.06em;
  cursor: pointer;

  margin-bottom: 200px;
}

/* What we have*/

/* .features-list {
  display: flex;
} */

.features-list .list {
  display: flex;
  justify-content: space-between;
}

.list .item {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 98px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}

.features-list .title-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

/* What we are douing*/

.work .container {
  padding-bottom: 94px;
}

.work .work-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.work-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

/* Our team*/

.team .team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 94px;
}

.team .team.name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team .team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 0;
  text-align: center;
}

.team .team-prof {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Radio buttons*/

.radio {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: 0;
}

.radio .radio-button:not(:last-child) {
  margin-right: 8px;
}

.radio .radio-button button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}

.radio button:hover,
.radio button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--button-color);
}

/* Product cards*/

.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product .product-card {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.product .product-card h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product .product-card p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer*/
.footer {
  background: #2f303a;
}

.footer .container {
  height: 252px;
}

.footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  cursor: default;
  margin-top: 60px;
}

.footer .logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--button-color);
  cursor: default;
}

.logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer .footer-adr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--button-color);
  text-decoration: none;
}

.footer .footer.nav {
  margin-top: 9px;
}

.footer .footer-nav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
