:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --fill-color: #afb1b8;
}

body {
  background-color: var(--button-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  cursor: default;
}

.logo span {
  color: var(--title-text-color);
}

ul,
h1 {
  list-style: none;
  margin: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Main nav */

.container .main-nav {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.main-nav .logo h1 {
  margin: 0;
}

/* Site nav */
.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  display: flex;
  color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -11px;
  left: 0;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--button-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--fill-color);
  z-index: 1;
}

/* Auth nav */

.auth-nav {
  display: flex;

  padding-left: 0;
  margin-left: auto;
}

.auth-nav li {
  fill: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav li a {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px 0;
}

.auth-nav li + li {
  margin-left: 50px;
}

.item:focus .auth-icon,
.item:hover .auth-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

.auth-nav .auth-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

/* Hero */

.overlay {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/group_team_photo.jpg);

  text-align: center;
  margin-bottom: 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  margin: 0 auto;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-color);
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}

.overlay .primary {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  margin-bottom: 200px;
}

/* What we have*/

.features-list button {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  border-style: none;
}

.features-list ul {
  display: flex;
  justify-content: space-between;
}

.features-list li {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.features-list .container {
  padding: 94px 15px;
}

.list li:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 30px;
}

.features-list .title-text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

/* What we are douing*/

.work .container {
  padding-bottom: 94px;
}

.work .work-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0;
}

.work .work-type::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 70px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.work-type {
  position: relative;
  z-index: -1;
}

.work-type .workname {
  position: absolute;
  bottom: 27px;
  left: 107px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  color: var(--button-color);
}

.work-list .workname:last-child {
  left: 95px;
}
.work-list img {
  display: block;
}

.work-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

/* Our team*/

.team {
  max-width: 1600px;
  margin: auto;
  margin-left: auto;
  background-color: #f5f4fa;
}

.team .team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 94px;
}

.team .team.name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}

.team li {
  margin-bottom: 0;
  background-color: var(--button-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-names {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}

.team .team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 16px;
  text-align: center;
}

li .social-link {
  display: inline-flex;
  width: 206px;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social-link .button {
  padding: 12px 12px 12px 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fill-color);
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .button:hover,
.social-link .button:focus {
  fill: var(--button-color);
  background-color: var(--accent-color);
}

/* Clients*/

.clients-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}

.clients .clients-list {
  display: flex;
  justify-content: space-between;
}

.clients .button {
  display: flex;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 94px;
  width: 170px;
  height: 92px;
  fill: var(--fill-color);
  border: 1px solid var(--fill-color);
  align-items: center;
  background-color: var(--button-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .icon-yaco,
.clients-list .icon-companytag,
.clients-list .icon-limecompany,
.clients-list .icon-foster,
.clients-list .icon-brand,
.clients-list .icon-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .container-list:not(:last-child) {
  margin-right: 30px;
}

.clients a:hover,
.clients a:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Radio buttons*/

.radio {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: 0;
  background-color: var(--button-color);
}

.radio li:not(:last-child) {
  margin-right: 8px;
}

.radio li button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio button:hover,
.radio button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--button-color);
}

/* Product cards*/

.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: var(--button-color);
}

.product li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product li {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--button-color);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.product-card .product-thumb {
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 369px;
  height: 294px;
}

.product .product-overlay {
  position: absolute;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover .product-overlay {
  transform: translateY(-100%);
}

.product .product-overlay .overlay-description {
  position: absolute;
  margin-top: 0;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;

  color: var(--button-color);
}

.product li img {
  display: block;
}

.product .card-content {
  width: 370px;
  height: 110px;
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product li:nth-child(3n) {
  margin-right: 0;
}

.product li:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.product li h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
}

.product li p {
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
  margin-top: 4px;
}

/* Footer*/

.footer {
  background: #2f303a;
}

.footer .container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
  height: 252px;
}

.footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  cursor: default;
  margin-top: 60px;
}

.footer .logo span {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--button-color);
  cursor: default;
}

.logo-footer {
  padding: 60px 0 20px 40px;
}

.footer .address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--button-color);
  text-decoration: none;
  padding-left: 40px;
}

.nav-list li {
  margin-top: 9px;
}

.footer .footer-nav {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-nav:focus,
.footer-nav:hover {
  color: var(--accent-color);
}

.footer .social {
  margin-left: 70px;
  padding-top: 72px;
  width: 276px;
  height: 74px;
}

.footer .social h3 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  padding-bottom: 30px;
}

.footer .social-link {
  display: inline-flex;
  padding-left: 0;
  width: 206px;
  height: 44px;
  align-items: center;
  justify-content: space-between;
}

.footer .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fill-color);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .button:hover,
.footer .button:focus {
  fill: var(--button-color);
  background-color: var(--accent-color);
}
