$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;
$fill-color: #afb1b8;

body {
  background-color: $button-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}



ul,
h1 {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;



  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@import "./utils/header";

/* Backdrop */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  animation-name: none;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 609px;

  background-color: $button-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal .modal-forms {
  width: 450px;
  height: 609px;
  position: relative;
  /* display: flex;
  flex-direction: column; */

  @media (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal h3 {
  padding: 40px 40px 26px;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $title-text-color;

  @media (min-width: 1200px) {
    width: 528px;
    padding: 40px 40px 12px 40px
  }
}

.modal-forms .form {
  @media (max-width: 1199px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  width: 448px;
  height: 398px;
  margin-left: 40px;
  margin-right: 40px;
}

.form__label {
  position: relative;
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 1200px) {
    width: 448px;
  }
}

.form__field:hover .form__input,
.form__field:hover .form__icon {
  border-color: $accent-color;
  fill: $accent-color;
}

.form__field textarea {
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  display: inline-block;
  fill: $title-text-color;
  top: 33px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.form__field:nth-child(5) {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 24px;
  margin: 0;

  @media (min-width: 1200px) {
    justify-content: center;
  }


}

.form__field .label-check {
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.16;

  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__field a {
  color: $accent-color;
  font-size: 12px;
  line-height: 1.16;

  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;

  }
}

.form__field .check-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 1.2em;
}

.form__field .check_box {
  position: absolute;
  transform: translateY(-1px);
  width: 16px;
  height: 15px;
  margin-left: -1.6em;

  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="none"%3E%3Cpath fill="%23212121" d="M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z"/%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 1200px) {
    transform: translateY(5px);
    width: 16px;
    height: 15px;
    margin-left: -1.4em;

  }
}

.check-input:checked+.check_box {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="none"%3E%3Crect width="16" height="15" fill="%232196F3" rx="2"/%3E%3Cpath fill="%23fff" stroke="%23fff" stroke-width=".2" d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z"/%3E%3C/svg%3E');
}

.modal-forms .submit-button {
  position: absolute;
  top: 519px;
  left: 125px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $accent-color;
  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $button-color;

  &:hover,
  &:focus {
    background-color: #1888CE;
  }

  @media (min-width: 1200px) {
    top: 491px;
    left: 164px;

    &:hover,
    &:focus {
      background-color: #188CE8;
    }
  }
}

.modal .close-button {
  position: fixed;
  fill: $title-text-color;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $fill-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }
}

/* Hero */

@import "./utils/hero";

/* What we have*/
.features__button {
  width: 450px;
  height: 120px;
  padding: 25px 190px;
  border-style: none;
  background: #f5f4fa;
  border-radius: 4px;

  @media (min-width: 768px) {
    width: 354px;
    padding: 25px 142px;
  }

  @media (min-width: 1200px) {
    width: 270px;
    padding: 25px 100px;
  }

}

.features__list {
  padding: 0;

  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;

  }


}

.features__list li {
  @media (max-width: 767px) {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;

    &:nth-child(1) {
      margin-top: 60px;
    }

    &:nth-child(4) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {

    width: 354px;
    margin-top: 60px;
    margin-bottom: 60px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 30px;
    }
  }

  @media (min-width: 1200px) {
    width: 270px;
    height: 224px;
    margin: 94px 0;


  }

}


.features__title {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 30px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}

/* What we are douing*/

.work .container {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__list {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0;
}

.work li {
  position: relative;
  z-index: -1;
  height: 294px;

  &::before {
    content: "";
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;

    background: rgba(47, 48, 58, 0.8);
  }
}

.work__workname {
  position: absolute;
  bottom: 27px;
  left: 107px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  color: $button-color;

  &:last-child {
    left: 95px;
  }
}

.work__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;
}

/* Our team*/

.team {

  background-color: #f5f4fa;
}

.team li {
  margin-bottom: 30px;
  background-color: $button-color;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media (min-width: 768px) {}

  @media (min-width: 1200px) {
    margin-bottom: 0;

  }


}

.team li img {
  display: block;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: 354px;
    height: 374px;
  }

  @media (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.team__list {
  padding: 0;
  padding-bottom: 30px;


  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 30px;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 94px;
  }

}

.team__caption {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 60px;
  margin-top: 0;

  @media (min-width: 1200px) {
    padding-top: 94px;
    margin-bottom: 50px;
  }
}

.team__name {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
}

.team__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 16px;
  text-align: center;
}

.team__social-link {
  display: inline-flex;
  width: 206px;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.team__button {
  padding: 12px 12px 12px 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $fill-color;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $button-color;
    background-color: $accent-color;
  }
}

/* Clients*/

.clients__caption {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: $title-text-color;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
    padding-top: 94px;
  }

}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;

  padding: 0;

  @media (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {

    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
  }

}

.clients__list li {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 94px;
  }
}

.clients__button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0;
  width: 210px;
  height: 92px;
  fill: $fill-color;
  border: 1px solid $fill-color;
  background-color: $button-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) {
    width: 226px;
  }

  @media (min-width: 1200px) {
    width: 170px;
  }
}

.icon-yaco,
.icon-companytag,
.icon-limecompany,
.icon-foster,
.icon-brand,
.icon-tagline {
  display: flex;
  justify-content: center;
  align-items: center;

}

.clients a:hover,
.clients a:focus {
  fill: $accent-color;
  border-color: $accent-color;
}

@import "./utils/footer";