$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;
$fill-color: #afb1b8;

body {
  background-color: $button-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

ul,
h1 {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;



  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@import "./utils/header";

/* Radio buttons*/

.radio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 15px;

  @media (min-width: 768px) {
    justify-content: center;
  }

  @media (min-width: 1200px) {

    padding-top: 94px;
    padding-bottom: 50px;
  }



}

.radio li:not(:last-child) {
  margin-right: 8px;
}

.radio button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: $button-color;
  }
}

/* Product cards*/

.product {
  background-color: #ffffff;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (min-width: 1200px) {
    gap: 0;
  }

}

.product li {
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  background-color: $button-color;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  &:last-child {
    margin-bottom: 60px;
  }

  @media (min-width: 768px) {
    width: 354px;
    height: 440px;
    margin: 0;

  }

  @media (min-width: 1200px) {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 94px;
    }
  }

  &:hover {
    border: -1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}


.product .card-content {
  width: 450px;
  height: 110px;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  @media (min-width: 768px) {
    width: 354px;
    height: 146px;
  }

  @media (min-width: 1200px) {
    width: 370px;
    height: 110px;
  }
}


.product li img {
  display: block;
}

.card-content h2 {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;

}

.card-content p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0 0;

}

.product__thumb {
  overflow: hidden;
  position: relative;
  padding: 0;
  width: 450px;
  height: 294px;

  @media (min-width: 768px) {
    width: 354px;
    height: 294px;
  }

  @media (min-width: 1200px) {
    width: 369px;
    height: 294px;
  }
}

.product__overlay {
  position: absolute;

  width: 450px;
  height: 294px;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) {
    width: 354px;
  }

  @media (min-width: 1200px) {
    width: 370px;
  }
}

.product__card:hover .product__overlay {
  transform: translateY(-100%);
}

.product__overlay-description {
  position: absolute;
  padding-top: 63px;
  padding-left: 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: $button-color;
}

@import "./utils/footer"