$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;
$fill-color: #afb1b8;

/* Footer*/
.footer {
  background: #2f303a;

  & .container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    height: 252px;
  }
}

.footer__logo .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: $accent-color;
  cursor: default;
  margin-top: 60px;
}

.footer__logo {
  padding: 60px 0 20px 40px;

  & span {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: $button-color;
    cursor: default;
  }
}

.footer__address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $button-color;
  text-decoration: none;
  padding-left: 40px;
}

.footer__nav li {
  margin-top: 9px;
}

.footer .footer-nav {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__social {
  margin-left: 70px;
  padding-top: 72px;
  width: 276px;
  height: 74px;

  & h3 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $button-color;
    padding-bottom: 30px;
  }
}

.footer__social-link {
  display: inline-flex;
  padding-left: 0;
  width: 206px;
  height: 44px;
  align-items: center;
  justify-content: space-between;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $fill-color;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $button-color;
    background-color: $accent-color;
  }
}

.footer__subscribe h4 {
  margin: 0;
  padding-top: 74px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $button-color;
  padding-bottom: 30px;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $fill-color;
}

.footer__submit-button {
  position: relative;
  cursor: pointer;
  left: 370px;
  bottom: 50px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: $accent-color;
  color: $button-color;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.footer__icon-send {
  margin-left: 10px;
  transform: translateY(7px);
}
