$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;
$fill-color: #afb1b8;

/* Footer*/


.footer {
  background: #2f303a;

  & .container {
    height: 604px;
  }

  @media (min-width: 768px) {
    & .container {
      height: 464px;

    }
  }

  @media (min-width: 1200px) {
    & .container {
      display: flex;
      margin: 0 auto;
      /* width: 1200px; */
      padding: 0 15px;
      height: 252px;
    }
  }
}

.footer-main {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }

}



.footer__logo .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: $accent-color;
  cursor: default;
  margin-top: 60px;
}


.footer__logo {

  display: flex;
  justify-content: center;
  padding-bottom: 28px;


  & span {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: $button-color;
    cursor: default;
  }

  @media (min-width: 768px) {
    display: block;
    padding: 60px 0 28px 100px;
    margin-right: 40px;


    @media (min-width: 1200px) {
      display: block;
      padding: 60px 0 20px 0;

    }
  }
}

.footer__address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $button-color;
  text-decoration: none;

  display: flex;
  justify-content: center;

  @media (min-width: 768px) {

    padding-left: 70px;
  }

  @media (min-width: 1200px) {
    display: block;
    padding-left: 0;
    padding-right: 0;

  }
}

.footer__nav li {


  @media (min-width: 1200px) {
    width: 231px;
    margin-top: 9px;
  }

}

.footer .footer-nav {
  display: flex;
  justify-content: center;
  margin-top: 9px;
  padding: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  @media (min-width: 768px) {
    padding-left: 70px;
  }

  @media (min-width: 1200px) {
    display: block;
    padding: 0 0 0 0;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;


  @media (min-width: 768px) {

    width: 300px;
    padding-left: 0;

  }

  @media (min-width: 1200px) {
    width: 206px;
    margin-left: 70px;
  }

}

.footer__social h3 {
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $button-color;

  @media (min-width: 768px) {
    padding-top: 65px;
    margin-left: 40px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    padding-top: 74px;
    margin-left: 0;
  }
}

.footer__social-link {
  display: flex;
  margin-left: 122px;
  margin-right: 122px;
  justify-content: space-between;

  @media (min-width: 768px) {

    width: 206px;
    margin-left: 0;
    margin-right: 89px;

  }


  @media (min-width: 1200px) {
    display: inline-flex;
    padding-left: 0;
    margin-right: 0;
    width: 206px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
  }

}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $fill-color;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $button-color;
    background-color: $accent-color;
  }
}

.footer__subscribe {


  @media (min-width: 1200px) {
    padding-left: 93px;
  }

}

.footer__subscribe h4 {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $button-color;


  @media (min-width: 1200px) {
    text-align: left;
    padding-top: 74px;
  }

}




.footer__form-input {
  width: 450px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $fill-color;
  padding: 16px 15px;

  @media (min-width: 768px) {
    margin-left: 146px;

  }

  @media (min-width: 1200px) {
    width: 358px;
    margin-left: 0;

  }

}

.footer__submit-button {
  position: relative;
  cursor: pointer;
  top: 20px;
  left: 125px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: $accent-color;
  color: $button-color;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  @media (min-width: 768px) {
    left: 270px;
  }

  @media (min-width: 1200px) {
    top: -50px;
    left: 370px;
  }
}

.footer__icon-send {
  margin-left: 10px;
  transform: translateY(7px);
}