$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;

/* @media screen and (min-width: 480px) {
  .body {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
} */



.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: $accent-color;
  cursor: default;

  & span {
    color: $title-text-color;
  }
}

/* Nav */

.container .nav {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #ECECEC;

  @media (min-width: 768px) {
    align-items: center;
    height: 80px;
  }

}

.nav .logo h1 {
  margin: 0;
}

.nav .phone-button {
  border: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.phone-button .icon-close {
  display: none;
}

.phone-button.is-open .icon-close {
  display: block;
}

.phone-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;

  width: 480px;
  height: 796px;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: $button-color;

  &.is-open {
    display: block;
  }
}

/* Site nav */
.site-nav__link.current {
  color: $accent-color;
  position: relative;
  padding-bottom: 20px;

  &::after {
    @media (max-width: 767px) {
      display: none;
    }

    content: "";
    position: absolute;
    display: flex;
    color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: -11px;
    left: 0;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding-left: 0;
  height: 80px;

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.site-nav__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: $title-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* Auth nav */

.auth-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: auto;
  /* height: 25px; */

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;

  }
}

.auth-nav__item {
  display: block;
  fill: $primary-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 768px) and (max-width: 1199px) {

    font-size: 12px;
    line-height: 1.16;

  }

  & a {
    color: $primary-text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px 0;

    @media (min-width: 768px) and (max-width: 1199px) {
      padding: 10px 0;
    }
  }

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.auth-nav li+li {
  @media (min-width: 768px) {
    padding-right: 17px;
  }

  @media (min-width: 1200px) {
    margin-left: 50px;
    padding-right: 0;
  }

}

.auth-nav__item:focus .auth-nav__icon,
.auth-nav__item:hover .auth-nav__icon {
  fill: $accent-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  fill: $primary-text-color;
  margin-right: 10px;
  align-items: baseline;
}