$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: $accent-color;
  cursor: default;

  & span {
    color: $title-text-color;
  }
}

/* Nav */

.container .nav {
  display: flex;
  align-items: center;
}

.nav .logo h1 {
  margin: 0;
}

/* Site nav */
.site-nav__link.current {
  color: $accent-color;
  position: relative;
  padding-bottom: 26px;

  &::after {
    content: "";
    position: absolute;
    display: flex;
    color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: 0;
    left: 0;
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0;

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.site-nav__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: $title-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* Auth nav */

.auth-nav {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}

.auth-nav__item {
  display: block;
  fill: $primary-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & a {
    color: $primary-text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px 0;
  }

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.auth-nav li + li {
  margin-left: 50px;
}

.auth-nav__item:focus .auth-nav__icon,
.auth-nav__item:hover .auth-nav__icon {
  fill: $accent-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  fill: $primary-text-color;
  margin-right: 10px;
  align-items: baseline;
}
