$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;

/* @media screen and (min-width: 480px) {
  .body {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
} */



.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: $accent-color;
  cursor: default;

  & span {
    color: $title-text-color;
  }
}

/* Nav */

.container .nav {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ECECEC;

  @media (min-width: 768px) {
    height: 80px;
  }

}

.nav .logo h1 {
  margin: 0;
}

.nav .phone-button {
  border: none;
  margin-left: 267px;
  padding: 0;
  top: 10px;
  right: 15px;
  display: flex;
  background-color: transparent;
  z-index: 20;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.phone-button .icon-close {
  display: none;
}

.phone-button.is-open .icon-close {
  display: block;
}

.phone-button.is-open .icon-menu {
  display: none;
}

.menu-container {

  background-color: $button-color;




  @media (max-width: 767px) {
    display: none;

    &.is-open {
      position: absolute;
      display: block;
      width: 100%;
      height: 796px;
      padding: 48px 40px;
      margin: 0;
      top: 0;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    display: flex;

    width: 100%;
  }
}

/* Site nav */
.site-nav__link.current {
  color: $accent-color;
  position: relative;
  padding-bottom: 20px;

  &::after {
    @media (max-width: 767px) {
      display: none;
    }

    content: "";
    position: absolute;
    display: flex;
    color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: -11px;
    left: 0;
  }

  @media (max-width: 767px) {
    padding-bottom: 32px;
  }

}

.site-nav {

  & a:hover,
  & a:focus {
    color: $accent-color;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 93px;
    padding-left: 0;
    height: 80px;

  }
}

.site-nav__link {
  @media (max-width: 767px) {
    display: block;
    padding-bottom: 32px;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;

  }

  @media (min-width: 768px) {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}

.site-nav__item:not(:last-child) {
  @media (min-width: 768px) {
    margin-right: 50px;
  }

}


/* Auth nav */

.auth-nav {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 274px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 14px 0;
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-left: auto;

  }
}

.auth-nav__item {
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 767px) {
    &.colored a {
      color: $accent-color;
      font-size: 34px;
      line-height: 1.17;

      &:hover {
        color: $primary-text-color;
      }
    }

    padding-bottom: 32px;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;

  }

  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  @media (min-width: 1200px) {
    display: block;
    color: $primary-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

  }



  & a {
    color: $primary-text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px 0;

    @media (min-width: 768px) and (max-width: 1199px) {
      padding: 10px 0;
    }
  }

  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.auth-nav li+li {
  @media (min-width: 768px) {
    padding-right: 17px;
  }

  @media (min-width: 1200px) {
    margin-left: 50px;
    padding-right: 0;
  }

}

.auth-nav__item:focus .auth-nav__icon,
.auth-nav__item:hover .auth-nav__icon {
  fill: $accent-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  @media (max-width: 767px) {
    display: none;
  }

  fill: $primary-text-color;
  margin-right: 10px;
  align-items: baseline;
}

.social-header {
  @media (max-width: 767px) {
    margin-top: 32px;
  }

  & a {
    @media (max-width: 767px) {

      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: $accent-color;
      padding: 0 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(4) {
        border: none;
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}