$accent-color: #2196f3;
$button-color: #ffffff;
$bgimage: "/images";

.overlay {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(#{$bgimage}/group_team_photo.jpg);

  text-align: center;
  margin-bottom: 0;


}

.overlay__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  margin: 0 auto;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $button-color;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;


}

.overlay__primary {
  color: $button-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border-color: $accent-color;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  margin-bottom: 200px;
}