$accent-color: #2196f3;
$button-color: #ffffff;
$bgimage: "/images/hero";


.overlay {

  height: 400px;
  max-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(#{$bgimage}/team_photo_phone@1x.jpg);

  text-align: center;
  margin-bottom: 0;

  @media (min-width: 768px) {
    height: 400px;
    max-width: 768px;

    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(#{$bgimage}/team_photo_tablet@1x.jpg);

  }

  @media (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(#{$bgimage}/team_photo_wide@1x.jpg);


  }
}

@media (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(#{$bgimage}/team_photo_phone@2x.jpg);
    ;
  }

  @media (min-width: 768px) {
    .overlay {
      background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(#{$bgimage}/team_photo_tablet@2x.jpg);
    }
  }

  @media (min-width: 1200px) {
    .overlay {
      background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(#{$bgimage}/team_photo_wide@2x.jpg);

    }
  }
}




.overlay__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  margin: 0 auto;

  width: 360px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $button-color;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 118px;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.3;
    width: 696px;
    padding-top: 200px;
  }


}

.overlay__primary {
  color: $button-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border-color: $accent-color;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  margin-bottom: 118px;

  @media (min-width: 1200px) {
    margin-bottom: 200px;
  }

}